<div class="column is-one-quarter">
    <article class="tile is-child box" id="card-image">

        <figure class="image has-ratio">
            <a href="/image/{{id}}">

                <img class="has-ratio" src="{{reference_url}}">
                
            </a>
        </figure>

        <p class="title">{{title}}</p>
    </article>
</div>