
<div class="tile is-parent">
    <article class="tile is-child box">
        <img src="{{image_url}}">
        <p class="title">{{title}}</p>
        <p class="subtitle">{{user.username}}</p>
    </article>
    </div>
    