
{{> main-page-navbar }}
<section class="hero">
    <div class="hero-head has-text-centered">
        <img class="has-ratio"
            src="https://res.cloudinary.com/pacsmack/image/upload/v1624541482/Assets/logo_transparent_szc7jp.png">
    </div>
</section>